/* 
 * NanumSquare for heading text
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquare', san-serif;
  color: red;
  letter-spacing: -0.05em;
  word-spacing: 0.3em;
}

/*
 * 컬러 지정하는 법
  1. Colorname: red
  2. RGB code: rgb(255,0,0)
  3. HEX code: #ff0000
 */

/* 
 * Black Han Sans for paragraph
 */

p.subtitle {
  font-family: 'Black Han Sans', sans-serif;
}

.main-text {
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
  letter-spacing: -0.03em;
  word-spacing: 1.0em;
  line-height: 1.3em;
}

/*
 * Align main contents horizontal center
 */

.main-wrapper {
  width:500px;
  margin: 0 auto;
}

/*
 * Padding and Margin
 */

.div-pad {
  padding: 15px 30px 40px 50px;
}
.div-margin {
  margin: 10px;
}

/*
 * CSS box(block, inline, inline-block)
 */

.box-a {
  width:100px;
  height:100px;
  background-color: red;
  display:inline-block;
}
.box-b {
  width:100px;
  height:100px;
  background-color: green;
  display:inline-block;
}
.box-c {
  width:100px;
  height:100px;
  background-color: blue;
  display:inline-block;
}